.bg-dark {
    background-color: #1a1919!important;
    z-index: 99;
}

.img-logo-navbar {
    width: 40px;
    height: 40px;
}

h1 {
    color: #02807f;
    font-size: 28px;
    margin-left: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
}