$black: #222;
$blue: #3498db;
$darkBlue: #2691d9;

.content{
	position: absolute;
	top: 50%;
	left: 25%;
	z-index: 1;
	text-align: center;
	padding: 60px 32px;
	width: 370px;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.04);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);

	header{
		color: white;
		font-size: 33px;
		font-weight: 600;
		margin: 0 0 35px 0;
		font-family: 'Montserrat',sans-serif;
	}

	.field{
		position: relative;
		height: 45px;
		width: 100%;
		display: flex;
		background: rgba(255,255,255,0.94);

		span{
			color: $black;
			width: 40px;
			line-height: 45px;
		}

		input{
			height: 100%;
			width: 100%;
			background: transparent;
			border: none;
			outline: none;
			color: $black;
			font-size: 16px;
			font-family: 'Poppins',sans-serif;
		}

		input[type="submit"]{
			background: $blue;
			border: 1px solid $blue;
			color: white;
			font-size: 18px;
			letter-spacing: 1px;
			font-weight: 600;
			cursor: pointer;
			font-family: 'Montserrat',sans-serif;

			&:hover{
				background: $darkBlue;
			}
		}
	}

	.space{
		margin-top: 16px;
	}

	.pass{
		text-align: left;
		margin: 10px 0;
		color: white;

		a{
			color: $darkBlue;
			text-decoration: none;
			font-family: 'Poppins',sans-serif;
		}
	
		&:hover a{
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.my-node-enter {
	opacity: 0;
}
.my-node-enter-active {
	opacity: 1;
	transition: opacity 1000ms, transform 1000ms;
}
.my-node-exit {
	opacity: 1;
}
.my-node-exit-active {
	opacity: 0;
	transition: opacity 1000ms, transform 1000ms;
}

.p-erros{
	font-size: 14px;
	color: red;
	margin-bottom: 0;
}

.input-error {
	border: 1px solid red;
}

@media screen and (max-width: 750px) {
	.content{
		position: absolute;
		left: 50%;
	}
}