.view-page {
    width: 100%;
    height: 100%;
    padding: 0;

    .view-header {
        width: 100%;
        height: 50px;

        .main-title {
            position: relative;
            margin: 0;
            float: left;
        }

        .buttons {
            margin: 0;
            float: right;
            
            button {
                background-color: transparent;
                border: 1px solid #02807f;
                color: #02807f;
                padding: 5px 20px;
                transition: all 1s;

                &.active {
                    background-color: #02807f;
                    color: white;
                    border: 1px solid white;
                }

                &:hover {
                    background-color: #1c4f4f;
                    border: 1px solid white;
                    color: white;
                }
            }

            .temperature {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .localization {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
    
    hr {
        background-color: #02807f;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .graphs {
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .view-page {

        .view-header { 
            height: 80px;

            .main-title, .buttons {
                float: none !important;
                margin: 5px auto;
            }
        }

        .graphs {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 390px) {
    .view-page {
    
        .view-header {
    
            .buttons {
                font-size: 12px;
                padding: 2px 5px;
            }
        }
    }
}