.pageSliderLeft-enter {
    transform: translate3d(100%, 0, 0);
    background-color: white;
}
.pageSliderLeft-enter.pageSliderLeft-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all 300ms;
    background-color: white;
}
.pageSliderLeft-exit {
    transform: translate3d(0, 0, 0);
    background-color: white;
}
.pageSliderLeft-exit.pageSliderLeft-exit-active {
    transform: translate3d(100%, 0, 0);
    transition: all 300ms;
    background-color: white;
}