.dashboard {
    background: white;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 99;
}

.dashboard-content {
    left: 80px;
    top: 67px;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 20px;
    background-color: #343a40;
}