@import "./node_modules/react-vis/dist/style";

.half {
    width: 100%;
    margin: 0 0 auto;
    overflow: visible;
}

.rv-xy-plot__inner {
    overflow: visible;
}

.link-comprove {
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #02807f;
    color: #02807f;
    padding: 10px 20px;
    transition: all 1s;
    float: left;

    &:hover {
        background-color: #1c4f4f;
        border: 1px solid white;
        color: white;
        text-decoration: none;
    }
}

@media only screen and (max-width: 991px) {
    .link-comprove {
        top: 90%;
    }
}

@media only screen and (max-width: 610px) {
    .link-comprove {
        padding: 5px;
        font-size: 10px;
        top: 90%
    }
}